@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@300;400;500;700&family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@media(max-width: 415px){

.bg{
    z-index: 99;
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0;
    background: #8B0411;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.25);
}

.bg img{
    height: 100%;
    margin-left: 5px;
}


.sobre{
    width: 100%;
    height: 30%;
}

.textoprincipal{
    margin: 120px auto 0 12px;
}

.textoprincipal h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 31px;
    color: #333333;
}

.textoprincipal h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 31px;
    color: #333333;
}

.textoprincipal p{
    margin-top: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #333333;
}
.btn-saiba{
    display: flex;
    justify-content: center;
}

.btn-saiba button{
    width: 300px;
    height: 35px;
    margin-top: 30px;
    border-radius: 15px;
    color: #fff;
    border: none;
    background: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.btn-saiba button:hover{
    background: #222222;
}

.carrossel img{
    object-fit: cover;
    display: flex;
    width: 275px;
    height: 275px; 
    border-radius: 8px;
}

.clear {clear: both;}

.box_carrossel{
    width: 90%;
    overflow: hidden;
    margin:14% auto;
    position: relative;
    padding: 5px 20px 10px 10px;
    display: flex;
    align-items: center;
}

.box_carrossel .nav{
    position: absolute;
    padding: 0 2px;
    display: flex;
    align-items: center;
    height: 60px;
    background:none;
    border-radius: 5px;
}

.box_carrossel .nav svg{
    display: table-cell; 
    vertical-align: middle;
}


.box_carrossel .nav.back{left: 0;}
.box_carrossel .nav.forth{right: 0;}

.carrossel{
    list-style: none;
    width: 1000%;
    display: flex;
}

.carrossel .item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 21px;
}


.img-homepage{
    max-width: 375px;
    height: 510px;
    margin-top: 70px;
    display: flex;
    justify-content: left;
}



.img-homepage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    display: flex;    
}

.txt-imghome{
    position: absolute;
    margin-top: 310px;
    margin-left: 10px;
}

.txt-imghome h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #F1F3F4;
}

.txt-imghome h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #F1F3F4;
}

.txt-imghome p{
    width: 280px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color:#F1F3F4 ;
}

.newsletter{
    width: 100%;
    height: 200px;
    display: flex;
    margin-top:20px;
}

.bottom-bar{
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    bottom: 0;
    background: #8B0411;
    box-shadow: 0px -2px 10px 2px rgba(0, 0, 0, 0.25);
}

.menu{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5px 30px;
    justify-content: space-between;
}

.icons-container a{
    opacity: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.active a{
    opacity: 100%;
}

.icons-container p{
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    margin-top: 1px;
}

.icons-container svg{
    width: 26px;
    height: 26px;
}


}